<!-- templates/user/register.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div class="container">
        <h2>Registrarse</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Nombre de usuario" required onfocus="this.placeholder=''" onblur="this.placeholder='Nombre de usuario'">
            </div>
            <div class="form-group">
                <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Contraseña" required onfocus="this.placeholder=''" onblur="this.placeholder='Contraseña'">
            </div>
            <div class="form-group">
                <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirmar contraseña" requiredonfocus="this.placeholder=''" onblur="this.placeholder='Confirmar contraseña'">
            </div>
            <div class="register-container">
                <button type="submit" class="register-btn">Registrarse</button>
            </div>
            
            <p class="login-text mt-3 text-center">¿Ya tienes una cuenta?
                <a class="login-link" href="{% url 'login' %}">Inicia sesión</a>
            </p>
        </form>
    </div>
    {% if messages %}
        <div class="messages-container">
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>

