
/* General Layout */
body {
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
    display: flex
}

.settings-wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    gap: 20px; /* Space between profile and settings box */
    width: 100%; /* Ensures it stretches properly */
    margin: auto; /* Ensures centering */
}


/* Settings Page Container */
.profile-box {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.profile-picture {
    display: flex;
    align-self: center;
    padding: 20px;
    padding-bottom: 0px;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.profile-picture img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 15px;
}

.profile-details h2{
    text-align: center;
    margin-bottom: 25px;
}

.settings-box{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 35%;
    padding: 20px;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}

.bottom-buttons {
    display: flex;
    flex-direction: column; /* Places buttons in a vertical stack */
    align-items: center; /* Centers buttons horizontally */
    gap: 10px; /* Adds space between them */
    width: 100%;
}

.bottom-buttons button {
    width: 100%; /* Ensures uniform width */
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.bi-arrow-right {
    background-color: green;
    width: 8%;
    height: auto;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

}

.form-control{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;

}